{% include 'base.html' %}

{% block content %}
<h1>수정할 글</h1>
<form action="{% url 'mtv:update' article.pk%}" method="POST">
    {% csrf_token %}
    <div>
        <label for="subject">제목:</label>
        <input type="title" name='subject' type='text' value="{{article.subject}}">
    
    </div>
    
    <div>
        <label for="description">내용:</label>
        <textarea name="description" id="description" cols="30" rows="10">{{article.description}}</textarea>
    </div>
    
    <div>
        <input type="submit" value="수정">
    </div>
</form>

{% endblock content %}
